{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Profile</h5>
                            </div>
                            <div class="card-body">
                                <h5>Persoonlijke gegevens</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="POST" action="{% url 'update_profile' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Naam</label>
                                                <input type="text" class="form-control" placeholder="Naam" name='first_name' value={{ user.first_name }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Achternaam</label>
                                                <input type="text" class="form-control" placeholder="Achternaam" name='last_name' value={{ user.last_name }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Organizatie</label>
                                                <input type="text" class="form-control" placeholder="Organizatie" name='organization' value={{ user.profile.organization }}>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name='email' value={{ user.email }}>
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Plaats</label>
                                                <input type="text" class="form-control" placeholder="Plaats" name='city' value={{ user.profile.city }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Adres</label>
                                                <input type="text" class="form-control" placeholder="Adres" name='adres' value={{ user.profile.adres }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Huisnummer</label>
                                                <input type="text" class="form-control" placeholder="Huisnummer" name='housenumber' value={{ user.profile.housenumber }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control" placeholder="Postcode" name='postal_address' value={{ user.profile.postal_address }}>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <h3 class="mt-5">Checkboxes and Radios</h3>
                                <h5 class="mt-3">Checkboxes</h5>
                                <hr>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="mt-5">Radios</h5>
                                        <hr>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                                        </div>
                                        <h5 class="mt-5">Inline</h5>
                                        <hr>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="mt-5">Range</h5>
                                        <hr>
                                        <label for="customRange1">Example range</label>
                                        <input type="range" class="custom-range" id="customRange1">
                                        <label for="customRange2">Example range</label>
                                        <input type="range" class="custom-range" min="0" max="5" id="customRange2">
                                        <label for="customRange3">Example range</label>
                                        <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
