{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Profile</h5>
                            </div>
                            <div class="card-body">
                                <h5>Persoonlijke gegevens</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="POST" action="{% url 'update_profile' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input disabled type="text" class="form-control" name='username' value={{ user.username }} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name='email' value={{ user.email }}>
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Naam</label>
                                                <input type="text" class="form-control" placeholder="Naam" name='first_name' value={{ user.first_name }}>
                                            </div>
                                            <div class="form-group">
                                                <label>Achternaam</label>
                                                <input type="text" class="form-control" placeholder="Achternaam" name='last_name' value={{ user.last_name }}>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <h5>Locaties</h5>                                
                                <hr>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Straat</th>
                                                    <th>Huisnummer</th>
                                                    <th>Postcode</th>
                                                    <th>Stad</th>
                                                </tr>
                                            </thead>
                                            {% for location in user.profile.location.all %}
                                            <tbody>
                                                <tr>
                                                    <th>{{ location.street }}</th>
                                                    <td>{{ location.housenumber }}</td>
                                                    <td>{{ location.postal_code }}</td>
                                                    <td>{{ location.city }}</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
